# Server Environment
PORT=4000
NODE_ENV=development
APP_NAME=Rokad-Platform
APP_URL=http://localhost:4000
BASE_DOMAIN=rokadschool.ir

# Database (PostgreSQL)
POSTGRES_USER=rokad_user
POSTGRES_PASSWORD=rokad_secret_2026
POSTGRES_DB=rokad_db
POSTGRES_PORT=5432
DATABASE_URL="postgresql://rokad_user:rokad_secret_2026@localhost:5432/rokad_db?schema=public"

# Redis Cache & Queue
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=rokad_redis_secret
REDIS_URL="redis://:rokad_redis_secret@localhost:6379"

# JWT Authentication
JWT_ACCESS_SECRET="rokad_super_secret_access_jwt_key_2026_x99!secure"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="rokad_super_secret_refresh_jwt_key_2026_z88!secure"
JWT_REFRESH_EXPIRES_IN="7d"

# MinIO Object Storage
MINIO_ROOT_USER=rokad_minio_admin
MINIO_ROOT_PASSWORD=rokad_minio_secret_2026
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ENDPOINT=localhost
MINIO_USE_SSL=false
MINIO_BUCKET_NAME=rokad-assets

# Super Admin Default Seed Credentials
SUPER_ADMIN_EMAIL=admin@rokadschool.ir
SUPER_ADMIN_PHONE=09120000000
SUPER_ADMIN_PASSWORD=RokadAdminPass2026!
